<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="../index.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <title>Title</title>
</head>
<body>
<th:block th:insert="fragments/header :: header"/>
<div>
    <ul class="d-inline-flex nav">
        <li class="nav-item ">
            <a class="nav-link" th:href="@{/admin/add-description}"> Add new description <span
                    class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item ">
            <a class="nav-link" th:href="@{/admin/requests}"> View requests <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item ">
            <a class="nav-link" th:href="@{/admin/add-room}"> Add new room <span class="sr-only">(current)</span></a>
        </li>
    </ul>
</div>
</body>
</html>