<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" th:href="@{/css/logIn.css}">
    <title>Request</title>
</head>
<body>
<div class="container">
    <section id="content">
        <form th:action="@{/admin/add-description}" th:object="${description}" method="post">
            <h1>Request form</h1>
            <div class="col-lg-6">
                <select class="form-control" id="room" th:field="*{roomType}">
                    <option value="">Select appartment class</option>
                    <option th:each="room : ${T(ua.polina.hotel_reservation.entity.RoomType).values()}"
                            th:value="${room}" th:text="${room.displayValue}"></option>
                </select>
            </div>
            <div class="col-lg-6">
                <select class="form-control" id="countOfPersons" name="persons" th:field="*{countOfPersons}">
                    <option th:each="person : ${counts}"
                            th:value="${person}" th:text="${person}"></option>
                </select>
            </div>
            <div class="col-lg-6">
                <select class="form-control" id="countOfBeds" name="beds" th:field="*{countOfBeds}">
                    <option th:each="bed : ${counts}"
                            th:value="${bed}" th:text="${bed}"></option>
                </select>
            </div>
            <div>
                <input type="number" placeholder="Cost per night" required="" id="cost" th:field="*{costPerNight}"/>
            </div>
            <input type="submit" value="Add"/>
        </form>
    </section>
</div>
</body>
</html>