<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Requests</title>
    <link rel="stylesheet" href="/css/app-styles.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
          integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

</head>
<body>
<div class="header-container">
    <h3 th:text="#{admin.view.requests}">Requests</h3>
</div>
<div class="lang2">
    <th:block th:insert="fragments/language :: language"/>
</div>

<table class="table table-hover">
    <thead>
    <tr>
        <th th:text="#{request.id}">Request id</th>
        <th th:text="#{client}">Client</th>
        <th th:text="#{room.type}">Room type</th>
        <th th:text="#{count.of.persons}">Count of persons</th>
        <th th:text="#{count.of.beds}">Count of beds</th>
        <th th:text="#{check.in.date}">Check in date</th>
        <th th:text="#{check.out.date}">Check out date</th>
        <th th:text="#{status}">Status</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="request, iStat : ${requestPage.content}"
        th:style="${iStat.odd}? 'font-weight: bold;'"
        th:alt-title="${iStat.even}? 'even' : 'odd'">
        <td th:text="${request.id}"></td>
        <td th:text="${request.client.toString()}"></td>
        <td th:text="${request.description.roomType}"></td>
        <td th:text="${request.description.countOfPersons}"></td>
        <td th:text="${request.description.countOfBeds}"></td>
        <td th:text="${request.checkInDate}"></td>
        <td th:text="${request.checkOutDate}"></td>
        <td th:text="${request.status}"></td>
        <td>
            <a th:href="@{/admin/find-room/{id}(id=${request.id})}"
               th:text="${request.status==T(ua.polina.hotel_reservation.entity.Status).New_request} ? #{find.room}:' '">Find
                room</a>
        </td>
        <td>
            <a th:href="@{/admin/check-reservation/{id}(id=${request.id})}"
               th:text="${request.status==T(ua.polina.hotel_reservation.entity.Status).Accepted} ? #{check.reservation}:' '">Reservation</a>
        </td>
    </tr>
    </tbody>
</table>


<div th:if="${requestPage.totalPages > 0}" class="pagination justify-content-center"
     th:each="pageNumber : ${pageNumbers}">
    <a th:href="@{/admin/requests(size=${requestPage.size}, page=${pageNumber})}"
       th:text=${pageNumber}
       th:class="${pageNumber==requestPage.number + 1} ? active"></a>
</div>
<div class="name">
    <a th:href="@{/}" th:text="#{home}"></a>
</div>
</body>
</html>