<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <title>My requests</title>
    <style>
        table {
            width: 100%;
        }

        table td, table th {
            border: 1px solid grey;
        }

        table th {
            background: #eee;
        }

        .pagination-div span {
            border-radius: 3px;
            border: 1px solid #999;
            padding: 5px;
            margin: 10px 0px 0px 10px;
            display: inline-block
        }

    </style>
</head>
<body>
<th:block th:insert="fragments/language :: language"/>
<h2>My Requests</h2>
<table border="1">
    <thead>
    <tr>
        <th th:text="#{room.type}">Room type</th>
        <th th:text="#{count.of.persons}">Count of persons</th>
        <th th:text="#{count.of.beds}">Count of beds</th>
        <th th:text="#{check.in.date}">Check in date</th>
        <th th:text="#{check.out.date}">Check out date</th>
        <th th:text="#{status}">Status</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="request, iStat : ${requests}"
        th:style="${iStat.odd}? 'font-weight: bold;'"
        th:alt-title="${iStat.even}? 'even' : 'odd'">
        <td th:text="${request.description.roomType}"></td>
        <td th:text="${request.description.countOfPersons}"></td>
        <td th:text="${request.description.countOfBeds}"></td>
        <td th:text="${request.checkInDate}"></td>
        <td th:text="${request.checkOutDate}"></td>
        <td th:text="${request.status}"></td>
        <td>
            <a th:href="@{/client/check-bill/{id}(id=${request.id})}"
               th:text="${request.status==T(ua.polina.hotel_reservation.entity.Status).Accepted} ? #{check.bill}:' '">Bill</a>
        </td>
    </tr>
    </tbody>
</table>

<a th:href="@{/client/apply}" th:text="#{form.new.request}">Create new request</a>
</body>
</html>