<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<header th:fragment="header">
    <ul class="d-inline-flex nav">
        <li class="nav-item ">
            <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#">Contacts</a>
        </li>
        <li class="nav-item" th:if="${#httpServletRequest.remoteUser==null}">
            <a class="nav-link" th:href="@{/auth/login}">Log in</a>
        </li>
        <li class="nav-item" th:if="${#httpServletRequest.remoteUser==null}">
            <a class="nav-link" th:href="@{/auth/sign-up}">Register</a>
        </li>
        <li class="nav-item" th:if="${#httpServletRequest.remoteUser!=null}">
            <a class="nav-link" th:href="@{/logout}">Log out</a>
        </li>
    </ul>
    <h2 th:if="${#httpServletRequest.remoteUser!=null}"> Hello, <b th:inline="text"> [[${#httpServletRequest.remoteUser}]] </b></h2>


</header>
</html>