<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/css/app-styles.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
          integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <title>Title</title>
</head>
<body class="text-center" data-gr-c-s-loaded="true">
<div class="lang">
    <a href="/" th:text="#{home}"></a>
</div>
<div class="container">
    <div style="margin-left: 400px" class="name">
        <th:block th:insert="fragments/language :: language"/>
    </div>
    <form class="form-signin" th:action="@{/auth/sign-up}" th:object="${signUp}" method="post">
        <h3 class="h3 font-weight-normal name" th:text="#{registration.form}">Registration form</h3>
        <div class="error" th:if="${error != null}">
            <p th:text="#{${error}}">...</p>
        </div>
        <div class="error" th:if="${#fields.hasErrors('email')}" th:errors="*{email}">Email Error</div>
        <div>
            <input class="form-control" type="text" th:placeholder="#{placeholder.email}" required="" id="email"
                   th:field="*{email}"/>
        </div>
        <div class="error" th:if="${#fields.hasErrors('username')}" th:errors="*{username}">Username Error</div>
        <div>
            <input class="form-control" type="text" th:placeholder="#{placeholder.username}" required="" id="username"
                   th:field="*{username}"/>
        </div>
        <div th:if="${#fields.hasErrors('password')}" th:errors="*{password}">Password Error</div>
        <div>
            <input class="form-control" type="password" th:placeholder="#{placeholder.password}" required=""
                   id="password"
                   th:field="*{password}"/>
        </div>
        <div class="error" th:if="${#fields.hasErrors('firstName')}" th:errors="*{firstName}">First name Error</div>
        <div>
            <input class="form-control" type="text" th:placeholder="#{placeholder.first.name}" required=""
                   id="firstname"
                   th:field="*{firstName}"/>
        </div>
        <div class="error" th:if="${#fields.hasErrors('middleName')}" th:errors="*{middleName}">Middle name Error</div>
        <div>
            <input class="form-control" type="text" th:placeholder="#{placeholder.second.name}" required=""
                   id="middlename"
                   th:field="*{middleName}"/>
        </div>
        <div class="error" th:if="${#fields.hasErrors('lastName')}" th:errors="*{lastName}">Last name Error</div>
        <div>
            <input class="form-control" type="text" th:placeholder="#{placeholder.last.name}" required="" id="lastname"
                   th:field="*{lastName}"/>
        </div>
        <div class="error" th:if="${#fields.hasErrors('passport')}" th:errors="*{passport}">Passport Error</div>
        <div>
            <input class="form-control" type="text" th:placeholder="#{placeholder.passport}" required="" id="passport"
                   th:field="*{passport}"
                   pattern="^[А-Я]{2}[0-9]{6}$"/>
        </div>
        <div class="error" th:if="${#fields.hasErrors('birthday')}" th:errors="*{birthday}">Birthday Error</div>
        <div>
            <input class="form-control" type="date" th:placeholder="#{placeholder.birthday}" required="" id="birthday"
                   th:value="*{birthday}"
                   th:field="*{birthday}" pattern="dd-MM-yyyy"/>
        </div>
        <div>
            <button class="btn btn-lg btn-primary btn-block" type="submit" th:text="#{sign.up}"></button>
            <a th:href="@{/auth/login}" th:text="#{login.log.in}">Log in</a>
        </div>
    </form>
</div>
</body>
</html>